* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "PT Serif", serif;
}

body {
  background-image: url("/imagenes/fondoNav.png");
}

/* BARRA DE NAVEGACION */
.nav {
  height: 140px;
  width: 100%;
  background-color: rgba(105, 105, 105, 0.7);
}

.logo {
  height: 100px;
  height: 100px;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

.menu {
  float: right;
  margin-right: 50px 50px;
}

.menu li {
  list-style: none;
  display: inline-block;
  line-height: 140px;
  margin: 0 20px;
}

.menu li a {
  color: #fff;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 5px;
}

.menu li a.active,
.menu li a:hover {
  background-color: #e89124;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 140px;
  margin-right: 50px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}



/* CARRUSEL */

.carousel {
  overflow: hidden;
  max-width: 100%;
  position: relative;
  
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #e89124;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 20px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}


/* REQUISITOS VOLUNTARIO */

.voluntario {
  line-height: 24px;
  background-color: rgba(105, 105, 105, 0.7);
  margin-top: -10px;
  padding: 30px 20px;
}

.voluntario h1 {
  font-family: "PT Serif", serif;
  text-decoration: none;
  color: #e89124;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  padding: 20px 20px;
}

.voluntario li {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.btn-volun {
  display: flex;
  justify-content: center;
  padding: 150px;
  margin-top: 50px;
  background-image: url("/imagenes/manos.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-voluntario {
  position: absolute;
  background-color: #e89124;
  outline: none;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: 700;
  padding: 15px 20px;
  text-decoration: none;
  margin: 4px 0px;
  transition-duration: 0.4s;
}

.btn-voluntario:hover {
  cursor: pointer;
  background-color: rgb(13, 117, 99);
  color: white;
  font-weight: 700;
}

/* FOOTER */

.foot {
  padding: 50px 0px 0px;
  display: flex;
  justify-content: center;
}

.foot img {
  height: 80px;
}

.derechos {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}



/* TABLET */
@media (max-width: 768px) {
  .enlace {
    padding-left: 20px;
  }
  .menu li a {
    margin-left: 30px;
    font-size: 14px;
  }
}

/* CELULAR */
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  .menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100;
    background: #e89124;
    top: 130px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .menu li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  } 

  .menu li a {
    font-size: 20px;
  }

  .menu li a:hover {
    background: none;
    color: black;
    background-color: #fff;
  }

  #check:checked ~ .menu{
    left: 0;
  }

  .voluntario{
    padding: 40px;
    
  }

  .voluntario h1{
    font-size: 25px;
    margin: auto;
    padding: 20px 10px;
    height: -100px;
    
  }

  .btn-voluntario{
    padding: 10px;
    font-size: 12px;
  }
  .btn-volun{
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 30px;
    background-size: 500px;
  }
}

