* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url("/imagenes/fondoNav.png");
  }
  
  .header {
    display: table;
    background-color: rgba(105, 105, 105, 0.7);
    width: 100%;
    font-family: "PT Serif", serif;
  }
  
  .container {
    width: 900px;
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .menu{
    padding: 0;
    margin: 0;
  }
  
  .nav-menu {
    float: right;
    margin-top: 0px;
    border: none;
    padding: 25px 0;
    transition: all 0.5s;
  }
  
  .nav-menu li {
    display: inline-block;
    list-style: none;
    margin: 0px 5px;
    padding: 7px 13px;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: #e89124;
    text-shadow: 2px 2px 5px black;
    padding: 5px 10px;
  }
  
  li a:hover,
  li a:focus {
    color: aliceblue;
    outline: none;
    border-radius: 5px;
    background-color: #e89124;
    transition: 0.2s;
    text-decoration: none;
  }
  
  
  @media (max-width: 768px) {
    .nav-menu li a {
      display: block;
      color: #e89124;
      padding: 8px 16px;
      text-decoration: none;
    }
  
    li a:hover,
    li a:focus {
      background-color: #555;
      color: white;
    }
  }
  
  
  a > img {
    width: 130px;
    height: 100px;
    float: left;
    padding: 8px;
  }
  
  .carousel-item {
    width: 100%;
    height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  @media (max-width: 768px) {
    .carousel-item {
      height: 280px;
    }
  }
  
  .carousel-inner p {
    display: block;
    font-family: "Fuzzy Bubbles", cursive;
    font-family: "Satisfy", cursive;
    font-size: 100px;
    text-align: center;
    line-height: 600px;
    color: white;
    text-shadow: 2px 2px 5px black;
  }
  
  /* @media (max-width: 768px) {
    .carousel-inner p {
      font-size: 80px;
    }
  }
  @media (max-width: 992px) {
    .carousel-inner p {
      
    }
  } */
  
  .voluntario{
    line-height: 24px;
    background-color: rgba(105, 105, 105, 0.7);
    padding: 20px 20px;
  }
  
  .voluntario h1{
    font-family: "PT Serif", serif;
    text-decoration: none;
    color: #e89124;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    padding: 20px 20px;
    
  }
  
  .voluntario li{
    /* display: block; */
    color: white;
    text-shadow: 2px 2px 5px black;
    align-content: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  
  .btn-voluntario a{
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    transition-duration: 0.4s;
  }
  
  .btn-voluntario a:hover{
    background-color: #e89124;
    color: black;
    font-weight: 700;
  }
  
  
  
  .foot {
    padding: 50px 0px 0px;
    display: flex;
    justify-content: center;
  }
  
  .derechos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  