* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/imagenes/fondoNav.png");
}

.container{
  display:inline-flex;
  justify-content: center;

}

.header {
  display: flex;
  justify-content: center;
  background-color: rgba(105, 105, 105, 0.7);
  width: 100%;
  font-family: "PT Serif", serif;
}

#btn-menu{
  display: none;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 20px 50px;

}

header label img{
  width: 30px;
  height: 30px;
  border-right: 1px solid #fff;
 
}

header label img:hover{
  cursor: pointer;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

@media (max-width:768px){
  header label{
    display: block;
  }

  .menu li{
    display: flex;
    /* flex-direction: column; */
    background-color: rgba(105, 105, 105, 0.7);
    width:70%;
  }

  .menu {
    flex-direction: column;
  }
  



}


.menu {
  padding: 0;
  margin: 0;
  justify-content: center;
}

.nav-menu {
  display: inline-flex;
  justify-content: center;
  /* justify-content: flex-end; */
  /* flex-direction: row; */
  border: none;
  padding: 40px 0;
  transition: all 0.5s;
  
}

.nav-menu li {
  display:inline-flex;
  justify-content: center;
  list-style: none;
  margin: 0px 5px;
  padding: 7px 13px;
}

.nav-menu li a {
  text-decoration: none;
  color: #e89124;
  border-radius: 10px;
  text-shadow: 2px 2px 5px black;
  padding: 5px 10px;
}

li a:hover,
li a:focus {
  color: aliceblue;
  outline: none;
  border-radius: 10px;
  background-color: #e89124;
  transition: 0.2s;
  text-decoration: none;
}

/* @media (max-width: 768px) {
  .nav-menu li a {
    color: #e89124;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover,
  li a:focus {
    background-color: #555;
    color: white;
  }
} */

a > img {
  width: 130px;
  height: 100px;
  margin: 0px 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-item {
  width: 100%;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 280px;
  }

  .carousel-inner p{
    
    
   
  }
}

.carousel-inner p {
  display:flex;
  justify-content: center;
  font-family: "Fuzzy Bubbles", cursive;
  font-family: "Satisfy", cursive;
  font-size: 100px;
  line-height: 600px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

/* @media (max-width: 768px) {
    .carousel-inner p {
      margin-top: 500px;
      font-size: 10px
    } 
  } */

  /* @media (max-width: 992px) {
    .carousel-inner p {
      
    }
  }  */

.voluntario {
  line-height: 24px;
  background-color: rgba(105, 105, 105, 0.7);
  padding: 20px 20px;
}

.voluntario h1 {
  font-family: "PT Serif", serif;
  text-decoration: none;
  color: #e89124;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  padding: 20px 20px;
}

.voluntario li {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.btn-volun {
  display: block;
  padding: 150px;
  margin-top: 50px;
  text-align: center;
  background-image: url("/imagenes/manos.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn-voluntario {
  border: none;
  outline: none;
}

.btn-voluntario a {
  background-color: black;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: 700;
  padding: 15px 20px;
  text-decoration: none;
  margin: 4px 0px;
  transition-duration: 0.4s;
}

.btn-voluntario a:hover {
  background-color: rgb(13, 117, 99);
  color: white;
  font-weight: 700;
}

.foot {
  padding: 50px 0px 0px;
  display: flex;
  justify-content: center;
}

.derechos {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
